<div class="text-center">
 <div class="row">
   <div class="col-sm-12">
     <h1><%= @user.username %></h1>
     <% if @user.avatar.present? %>
       <%= image_tag(@user.avatar.url(:medium), :class => "img-circle img-responsive img-center img-rounded img-thumbnail") %><br/>
     <% end %>
      <% if @user.bio.present? %>
       <h3><%= @user.bio %></h3><br/>
     <% end %>
     <br />
     <hr />

     <div class="row">
       <% @user.categories.each do |category|%>
           <div class="col-lg-4 col-sm-6 text-center">
             <% if category.cat_pic.present? %>
               <%= image_tag(category.cat_pic.url(:medium), :class => "img-circle img-responsive img-center img-thumbnail img-rounded") %><br />
             <% else %>
                 <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt=""><br />
             <% end %>
             <h3> <%= link_to("#{category.name}", category_goals_path(category.user)) %></h3>
           </div>
       <% end %>
     </div>
   </div>
 </div>
</div>
