<header class="business-header">
<div class="container">
    <div class="row">
        <div class="col-lg-11">
            <h1 class="text-center"><%= image_tag "logo_with_slogan.png", width: "80%", height:"auto", justify: "center"%></h1>
        </div>
    </div>
</div>
</header>

<!-- Page Content -->
<div class="container">

<hr>

<% if user_signed_in? %>
<% else %>
  <div class="row">
      <div class="col-sm-8">
          <h2>What is "Kick It"?</h2><br />
          <p>Kick It is all about what you want to do before you <em>kick the bucket</em>.</p>
          <p>Hop on in and create your different bucket lists, or feel free to get inspiration from others.</p>
          <p>Either way, begin creating your bucket lists now...</p><br />
      </div>
      <div class="col-sm-4">
          <h2 class="text-center"><%= link_to('SIGN UP NOW!', new_user_registration_path) %></h2>
          <div class="text-center"><%= image_tag "bucket.png", width: "45%", height:"auto"%></div>
      </div>
  </div>

<hr><br />
<% end %>

<div class="row">
  <% @goals.each do |goal| %>
    <div class="col-sm-4">
      <% if goal.goal_pic.present? %>  
        <%= image_tag(goal.goal_pic.url(:medium), :class => "img-circle img-responsive img-center") %>
          <br/>
      <% end %>
      <h2><%= link_to(goal.title, goals_path(goal)) %></h2>
      <h3><%= link_to goal.user.name, user_show_path(goal.user_id) %></h3>
    </div>
  <% end %>
</div>
