.text-center
  - if current_user.id == @goal.user_id
    %row
      %a.btn.backButton{:href => category_goals_path(@category.id), :style => "float: left"} Back to Listings
    %br/
    %br/
    %br/
    %br/
    %h2.text-center
      Edit this Bucket Item
      %h2
        = form_for @goal, url: category_goal_path, :html => { :multipart => true }  do |f|
          %h3
            Title: #{f.text_field :title, class: "form-control", :placeholder => "Enter Name of Goal", :style => "width:100%;"}
          %br/
          %br/
          %h4 Upload Photo:
          %h4= f.file_field :goal_pic, :style => "display:inline-block"
          %br/
          = f.hidden_field :user_id, value: current_user.id
          = f.hidden_field :category_id, value: @category.id
          %br/
          = f.submit "Update Goal", class: "btn myButton"
          %br/
          %br/
  - else
    %h2.text-center Sorry the page you were looking for does not exist.
