<div class="text-center">
  <br />
  <% if @category.cat_pic.present? %>  
    <%= image_tag(@category.cat_pic.url(:medium), :class => "img-circle img-responsive img-center img-rounded img-thumbnail") %>
      <br/>
  <% end %>
  <h1><%= @category.name %></h1>
    <% if current_user.id == @category.user_id %>
      <a href="<%= edit_category_path(@category.id) %>" class="btn btn-info"><span class = "glyphicon glyphicon-pencil"></span></a>
      <!-- <a href="<%= categories_path(@category.id) %>" class="btn btn-danger" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a> -->
    <% end %>
  
  <hr />
  <% @goals.each do |goal| %>
    <p style="font-size:2em">  
    <% if current_user.id == goal.user_id %>
      <label><input type="checkbox" value= "true">&nbsp;&nbsp;
    <% end %>
    <%= link_to(goal.title, category_goal_path(@category.id, goal.id)) %>
    <% if current_user.id == goal.user_id %>
    &nbsp;&nbsp;
      <a href="<%= edit_category_goal_path(@category.id, goal.id) %>" class="btn btn-info"><span class = "glyphicon glyphicon-pencil"></span></a>
      <a href="<%= category_goal_path(@category.id, goal.id) %>" class="btn btn-danger" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
    </p></label>
    <% end %><br />
  <% end %><br />
  <% if current_user.id == @category.user_id %>
    <a href="<%= new_category_goal_path %>" class="btn btn-success pull-right" style="display:inline-block">Add New Goal</a>
  <% end %>
  <a href="<%= categories_path %>" class="btn btn-info pull-left" style="display:inline-block">Back to Buckets</a>
</div>
