%a.btn.btn-info.pull-left{:href => root_path, :style => "display:inline-block"} Back to Buckets
%br

.text-center
  %br/
  - if @category.cat_pic.present?
    = image_tag(@category.cat_pic.url(:medium), :class => "img-circle img-responsive img-center img-rounded img-thumbnail")
    %br/
  %h1= @category.name
  %h4= link_to(@category.user.username.capitalize, user_path(@category.user_id))
  - if current_user.id == @category.user_id
    %div
      %a.btn.btn-success{:href => new_category_goal_path, :s => "", :style => "display:inline-block"}
        %span.glyphicon.glyphicon-plus
      %a.btn.btn-info{:href => edit_category_path(@category.id)}
        %span.glyphicon.glyphicon-pencil
    / <a href="<haml:loud> categories_path(@category.id) </haml:loud>" class="btn btn-danger" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
  %hr/
  - @goals.each do |goal|
    - if goal.completed == true
      %h4 
        %span.glyphicon.glyphicon-ok 
        = link_to(goal.title, category_goal_path(@category.id, goal.id))
    - else
      %h4
        = link_to(goal.title, category_goal_path(@category.id, goal.id))
  %br/
  %br/

