<div class="text-center">
  <% if @category.cat_pic.present? %>  
    <%= image_tag(@category.cat_pic.url(:medium), :class => "img-circle img-responsive img-center") %>
      <br/>
  <% end %>
  <h1><%= @category.name.capitalize %>
  <a href="<%= edit_category_path(@category.id)%>" class="btn btn-info"><span class = "glyphicon glyphicon-pencil"></span></a>
  </h1>
  <% @goals.each do |goal| %>
    <h2><%= link_to(goal.title, user_show_path(goal.user_id)) %>
    <% if current_user.id == goal.user_id %>
      <a href="<%= edit_category_goal_path(@category.id, goal.id) %>" class="btn btn-info"><span class = "glyphicon glyphicon-pencil"></span></a>
      <a href="<%= category_goal_path(@category.id, goal.id) %>" class="btn btn-danger" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
    </h2>
    <% end %>
  <% end %>
  <% if current_user.id == @category.user_id %>
    <a href="<%= new_category_goal_path %>" class="btn btn-success pull-right" style="display:inline-block">Add New Goal</a>
  <% end %>
</div>
