.text-center
  %h1= @category.name
  %h3 New Bucket List Item
  %hr/
  %row
    %a.btn.btn-default{:href => "previous.html", :onClick => "history.back();return false;", :style => "float:left"} Back to Buckets
  %br/
  %br/
  %br/
  %br/
  = form_for @goal, :url => category_goals_path, :html => { :multipart => true } do |f|
    %h3
      Title: #{f.text_field :title, class: "form-control", :placeholder => "Enter Name of Goal", :style => "width:100%;"}
      %br
        %br
          %h4
            Upload Photo: #{f.file_field :goal_pic, :style => "display:inline-block"}
          %br
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :category_id, value: @category.id
            %br
              = f.submit "Create Goal", class: "btn myButton"
              %br
                %br

