Maybe if time add a comment section here where people can dig deeper into a goal...

Add google maps and drop a pin.

  <%= @goal.inspect %>
    <p style="font-size:2em">  
    <% if current_user.id == goal.user_id %>
      <label><input type="checkbox" value= "true">&nbsp;&nbsp;
    <% end %>
    <%= link_to(goal.title, category_goal_path(@category.id, goal.id)) %>
    <% if current_user.id == goal.user_id %>
    &nbsp;&nbsp;
      <a href="<%= edit_category_goal_path(@category.id, goal.id) %>" class="btn btn-info"><span class = "glyphicon glyphicon-pencil"></span></a>
      <a href="<%= category_goal_path(@category.id, goal.id) %>" class="btn btn-danger" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
    </p></label>
    <% end %><br />
  <% end %><br />
  <% if current_user.id == @category.user_id %>
    <a href="<%= new_category_goal_path %>" class="btn btn-success pull-right" style="display:inline-block">Add New Goal</a>
  <% end %>
  <a href="<%= root_path %>" class="btn btn-info pull-left" style="display:inline-block">Back to Buckets</a>
</div>