<<<<<<< HEAD
= form_for(@category) do |f|
  - if current_user.id == @category.user_id
    %h1
      Edit "#{"#{@category.name}"}"
    %br/
    %h4
      Bucket List Name: #{f.text_field :name, class: "form-control", :placeholder => "To do before 90", :style => "width:100%;"}
    %br
      %h4
        Make list private? #{f.check_box :private, {}, true, false}
        %h4
          %br
            %h4
              Upload Photo: #{f.file_field :cat_pic}
            %br
              = f.hidden_field :user_id, value: current_user.id
              %br
                = f.submit("Edit List", class: "myButton")
                %br
                  %br
=======
%a.btn.backButton{:href => "previous.html", :onClick => "history.back();return false;", :style => "float:left"} Back to Bucket
%br/
%br/
%br/
%br/
.text-center
  = form_for(@category) do |f|
    - if current_user.id == @category.user_id
      %h1 Edit
      %hr/
      %h2
        "#{"#{@category.name}"}"
      %br/
      %h4
        Bucket List Name: #{f.text_field :name, class: "form-control", :placeholder => "To do before 90", :style => "width:100%;"}
      %br
        %h4
          Make list private? &nbsp;#{f.check_box :private, {}}
          %h4
            %br
              %h4 Upload Photo:
              = f.file_field :cat_pic, :style => "display:inline-block"
              %br
                = f.hidden_field :user_id, value: current_user.id
                %br
                  = f.submit("Edit List", class: "btn backButton")
                  %br
                    %br
>>>>>>> cf706d81ab76557087e964d8c887358a5e2a5bb9
