<%= form_for @category, :html => { :multipart => true } do |f| %>
 
   <h3>Bucket List Name: <%= f.text_field :name, class: "form-control", :placeholder => "To do before 90", :style => "width:100%;" %></h1>
   <br>
     Make list private? <%= f.check_box :private, {}, true, false %>
   <br>
   <h4>Upload Photo: <%= f.file_field :cat_pic_file_name %></h4>
   <br>
   <%= f.hidden_field :user_id, value: current_user.id %>
   <br>
   <%= f.submit("Create New List", class: "myButton") %>
   <br><br>
 <% end %>