<a href= "<%= users_path %>" class="btn btn-default" style="float: left">Back to Listings</a>
  <br /><br /><br /><br />
<div class="text-center">
   <%= form_for @category, :html => { :multipart => true } do |f| %>
      <h1> Make a New Bucket</h1>
      <br />
      <h4> Bucket Name: <%= f.text_field :name, class: "form-control", :placeholder => "To do before 90", :style => "width:100%;", :required => true %></h4>
      <br>
      <h4> Make list private? &nbsp;<%= f.check_box :private, {}, true, false %> <h4>
      <br>
      <h4>Upload Photo: </h4><%= f.file_field :cat_pic, :style => "display:inline-block" %>
      <br>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <br>
      <%= f.submit("Create Bucket", class: "btn btn-info") %>
      <br><br>
   <% end %>
</div
