%a.btn.btn-default{:href => users_path, :style => "float: left"} Back to Listings
%br/
%br/
%br/
%br/
.text-center
  = form_for @category, :html => { :multipart => true } do |f|
    %h1 Make a New Bucket
    %br/
    %h4
      Bucket List Name: #{f.text_field :name, class: "form-control", :placeholder => "To do before 90", :style => "width:100%;"}
    %br
      %h4
        Make list private? &nbsp;#{f.check_box :private, {}}
        %h4
          %br
            %h4 Upload Photo:
            = f.file_field :cat_pic, :style => "display:inline-block"
            %br
              = f.hidden_field :user_id, value: current_user.id
              %br
                = f.submit("Create Bucket", class: "btn btn-info")
                %br
                  %br
  