<%= form_for @category, :html => { :multipart => true } do |f| %>
    
   <% if current_user.id == category.user_id %>
   <h1> Make a New Bucket List </h1>
   <br />
   <h4> Bucket List Name: <%= f.text_field :name, class: "form-control", :placeholder => "To do before 90", :style => "width:100%;" %></h4>
   <br>
   <h4> Make list private? <%= f.check_box :private, {}, true, false %> <h4>
   <br>
   <h4>Upload Photo: <%= f.file_field :cat_pic %></h4>
   <br>
   <%= f.hidden_field :user_id, value: current_user.id %>
   <br>
   <%= f.submit("Create New List", class: "myButton") %>
<br><br>
<% end %>
