<nav class="navbar navbar-inverse" style="height: 20%">
  <div class="navbar-header"> -->
    <row>
    <%= image_tag "logo_inv.png", width: "25%", height:"auto", justify: "left", display: "inline-block" %>
      <row>
        <ul class="nav navbar-nav navbar-right" style="display: inline-block">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Bucket Lists 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to('See My Buckets', categories_path, class: "header-font") %></li>
                <li><%= link_to('New Bucket List', new_category_path, class: "header-font") %></li>
                <li><%= link_to('Edit profile', edit_user_registration_path, :class => 'header-font') %></li>
              </ul>
            </li>
            <li><%= link_to('Bucket Lists', goals_path, class: "header-font") %></li> 
            <li><%= link_to('Inspiration', user_index_path, :class => "header-font") %></li> 
            <li class="header-font"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'header-font' %></li>
          <% else %>
            <li class="header-font"><%= link_to "Sign up", new_user_registration_path, :class => 'header-font' %></li>
            <li class="header-font"><%= link_to "Login", new_user_session_path, :class => 'header-font' %></li>
          <% end %>
        </ul>  
      </row>   
    </row>
  </div>
</nav>
